! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #44475a, #f1fa8c, #f1fa8c
rofi.color-normal: #44475a, #8BE9FD, #44475a, #44475a, #FF7AC6
rofi.color-active: #f1fa8c, #44475a, #8BE9FD, #44475a, #FF7AC6
rofi.color-urgent: #f1fa8c, #44475a, #8BE9FD, #44475a, #FF7AC6
rofi.lines: 3
rofi.eh: 2
rofi.width: 50
rofi.padding: 50
rofi.bw: 2
rofi.font: Roboto 16
